body{
    background-color: rgb(197, 197, 197);
}
h1{
    color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 63vh;
    
}
div{
    color: rgb(29, 29, 29);
    position: relative;
    left: 49.7%;
    top: -250px;
    font-size: x-large;

}
.btn-start{
    cursor: pointer;
    position: absolute;
    left: 45%;
    top: 420px;

}
.btn-stop{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 420px;
}
.btn-reset{
    cursor: pointer;
    position: absolute;
    left: 55%;
    top: 420px;
}